*{
  font-family: 'Nanum Gothic', sans-serif;
}
body{
  margin: auto;
  position: relative;
  padding-top: 100px;
  margin-bottom: 100px;
}
a{
  text-decoration: none;
  color: #ff7675;
}
ul.fixedNav{
  list-style: none;
  position: fixed;
  top: 0;
  padding: 0;
  margin: 0;
  background-color: #2d3436;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  z-index: 1;
}
ul.fixedNav li{
  display: inline;
  float: left;
  width: 33.33%;
  font-weight: 700;
  box-sizing: border-box;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  padding: 10px 0 10px 0;
}
ul.fixedNav li.rightMenu{
  border-right: none;
}
ul.fixedNav li a{
  color:#fffa65
}
-webkit-@keyframes navColor {
  0%{color: #ff7675;}
  33%{color: #74b9ff;}
  66%{color: #00cec9;}
  100%{color: #ff7675;}
}
-ms-@keyframes navColor {
  0%{color: #ff7675;}
  33%{color: #74b9ff;}
  66%{color: #00cec9;}
  100%{color: #ff7675;}
}
-moz-@keyframes navColor {
  0%{color: #ff7675;}
  33%{color: #74b9ff;}
  66%{color: #00cec9;}
  100%{color: #ff7675;}
}
-o-@keyframes navColor {
  0%{color: #ff7675;}
  33%{color: #74b9ff;}
  66%{color: #00cec9;}
  100%{color: #ff7675;}
}
@keyframes navColor {
  0%{color: #ff7675;}
  33%{color: #74b9ff;}
  66%{color: #00cec9;}
  100%{color: #ff7675;}
}



footer a{
  position: fixed;
  bottom: 0;
  background-color: #2d3436;
  color: #ff7675;
  width: 100%;
  text-align: center;
  font-weight: 700;
  padding: 10px;
  box-sizing: border-box;
  animation: footerColor 4s infinite;
  -webkit-animation: footerColor 4s infinite;
  -ms-animation: footerColor 4s infinite;
  -moz-animation: footerColor 4s infinite;
  -o-animation: footerColor 4s infinite;
}
-webkit-@keyframes footerColor {
  0%{color: #ff7675; border-color: #ff7675;}
  33%{color: #74b9ff; border-color: #74b9ff;}
  66%{color: #00cec9; border-color: #00cec9;}
  100%{color: #ff7675; border-color: #ff7675;}
}
-ms-@keyframes footerColor {
  0%{color: #ff7675; border-color: #ff7675;}
  33%{color: #74b9ff; border-color: #74b9ff;}
  66%{color: #00cec9; border-color: #00cec9;}
  100%{color: #ff7675; border-color: #ff7675;}
}
-moz-@keyframes footerColor {
  0%{color: #ff7675; border-color: #ff7675;}
  33%{color: #74b9ff; border-color: #74b9ff;}
  66%{color: #00cec9; border-color: #00cec9;}
  100%{color: #ff7675; border-color: #ff7675;}
}
-o-@keyframes footerColor {
  0%{color: #ff7675; border-color: #ff7675;}
  33%{color: #74b9ff; border-color: #74b9ff;}
  66%{color: #00cec9; border-color: #00cec9;}
  100%{color: #ff7675; border-color: #ff7675;}
}
@keyframes footerColor {
  0%{color: #ff7675; border-color: #ff7675;}
  33%{color: #74b9ff; border-color: #74b9ff;}
  66%{color: #00cec9; border-color: #00cec9;}
  100%{color: #ff7675; border-color: #ff7675;}
}
